// colors
$primary-color: #4c5870;
$heading-color: #7f8489;
$nice-blue: #627db0;
$dark-bcg: #3d3d3b;
// fonts
$font-fun: 'Londrina Solid', cursive;
$font-base: 'Open Sans', sans-serif;
// font sizes
$font-sm: 20px;
$font-md: 40px;
$font-lg: 65px;
// background image for landing
$home-page: url(../assets/felix-mooneeram-222805-unsplash.jpg);

@mixin background {
	body {
		background: $home-page;
		// background-attachment: fixed;
		background-size: contain;
	}
}

// Media Query Mixins
@mixin mediaSm {
	// 500 px or less
	@media screen and (max-width: 500px) {
		@content;
	}
}

@mixin mediaMd {
	// 768 px or less
	@media screen and (max-width: 768px) {
		@content;
	}
}

@mixin mediaLg {
	// 769-1170px
	@media screen and (min-width: 769) and (max-width: 1170px) {
		@content;
	}
}

@mixin mediaXl {
	// 1171px and above
	@media screen and (max-width: 1640px) {
		@content;
	}
}
