@include mediaXl {
	.landing {
		.title {
			// convert this to mixin
			margin: 25px;
			align-items: center;
			display: flex;
			flex-flow: column wrap;
			font-family: $font-fun;
			// color: #7f8489;
			color: $nice-blue;
			font-size: 40px;
			justify-content: center;
		}

		.nav_items {
			align-items: center;
			display: flex;
			flex-flow: column wrap;
			font-family: $font-base;
			justify-content: center;

			.landing_link {
				padding: 20px;
				color: #4c5870;
				&:hover {
					font-weight: bolder;
					color: #c95b59;
				}
			}
		}
	}

	// loadout div message
	.loading_message {
		align-content: center;
		color: #4c5870;
		display: flex;
		font-family: $font-fun;
		font-size: 42px;
		justify-content: center;
		margin-top: 25%;
		// max-width: 50%;
	}
	// movie list grid
	.movie_list {
		display: grid;
		padding: 15px;
		margin: 0 20px 0 20px;
		width: 16.6%;
		float: left;
		position: relative;
		.poster_img {
			// grid-template-columns: 100px 100px 100px;
			// grid-gap: 10px;
			width: 100%;
			height: 100%;
			// add darkbackground
			// hover effect should look like poster is backlit when hovered
		}
		.movie_title {
			// font-family: $font-fun;
		}
	}
}
