@include mediaXl {
	.landing {
		.title {
			margin: 25px;
			align-items: center;
			display: flex;
			flex-flow: column wrap;
			font-family: $font-fun;
			font-size: 40px;
			justify-content: center;
		}

		.nav_items {
			align-items: center;
			display: flex;
			flex-flow: column wrap;
			font-family: $font-base;
			justify-content: center;

			.landing_link {
				padding: 20px;
				&:hover {
					font-weight: bolder;
				}
			}
		}
	}

	// loadout div message
	.loading_message {
		align-content: center;
		display: flex;
		font-family: $font-fun;
		font-size: 42px;
		justify-content: center;
		margin-top: 25%;
		// max-width: 50%;
	}
	// movie list grid
	.movie_list {
		.movie_title {
			font-family: $font-fun;
		}
	}
}
