@import 'config';
@import 'mobile';
@import 'reset';
@import url('https://fonts.googleapis.com/css?family=Londrina+Solid|Open+Sans');

body {
	margin: 0;
	padding: 0;
	background-color: #efefef;
}

#home_btn {
	font-family: $font-fun;
	&:hover {
		font-weight: bolder;
	}
}
