@import 'config';
@import 'mobile';
@import 'reset';
@import url('https://fonts.googleapis.com/css?family=Londrina+Solid|Open+Sans');

// body {
// 	margin: 0;
// 	padding: 0;
// 	// background-color: #efefef;
// 	background-color: $dark-bcg;
// }
#new_movies_container {
	.home_nav {
		margin: 1.5%;
		font-size: $font-md;
	}
}

#home_btn {
	font-family: $font-fun;
	padding: 20px;
	margin-bottom: 20%;
	color: $primary-color;
	&:hover {
		color: #c95b59;
		font-weight: bolder;
	}
}
