@import 'config';
@import 'mobile';
@import 'reset';
@import url('https://fonts.googleapis.com/css?family=Londrina+Solid|Open+Sans');

// body {
// 	margin: 0;
// 	padding: 0;
// 	// background-color: #efefef;
// 	background-color: $dark-bcg;
// }

#home_btn {
	font-family: $font-fun;
	padding: 20px;
	color: #4c5870;
	&:hover {
		color: #c95b59;
		font-weight: bolder;
	}
}
